.hero-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  animation: zoomIn 10s ease-in forwards; /* Faster zoom in without zoom out */
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for better readability */
  padding: 20px;
  border-radius: 10px;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: opacity 2s ease-in-out; /* Smooth transition for visibility */
}

.hero-text.visible {
  opacity: 1;
  visibility: visible; /* Make visible */
}
