.project-detail {
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.carousel-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.main-image {
  max-width: 90%;
  max-height: 600px;
  border-radius: 10px;
}

.carousel-arrow {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.carousel-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 100px;
  height: auto;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 5px;
}

.thumbnail.active,
.thumbnail:hover {
  opacity: 1;
}

.project-info {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
