body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #e9ecef;
  color: #212529;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  min-height: 80vh; /* Ensures footer is at bottom if content is short */
  padding: 20px;
}
